#nav-up {
   position: relative !important;
   z-index: 100000 !important;
}

#switch {
    position: absolute;
    left: 300px;
}

@media screen and (max-width:768px) {
    #switch {
        position: absolute;
        left: 100px;
    }
}

